.row {
    margin-top: 4vw;
    margin-left: 6vw;
    margin-bottom: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 60vw;
    outline: auto;
    outline-color: #d15e92;
}
body {
    background: #ffe0f8 !important;
}

h1, .fs-4 {
    padding-bottom: 5vw;
}

.news-title {
    word-spacing: 2vw;
}

.cudi-banner {
    height: 20vh;
    width: 100%;
}

.bg-light {
    background-color: #d15e92 !important;
}

.banner {
    width: inherit;
    height: inherit;
}

.news-img {
    width: 60vw !important;
}